



@media screen and (max-width: 678px) {
    .hamburger {
      display: block;
      font-size: 34px;
    }
    .logo {
      font-size: 45px;
    }
    ul {
      display: none;
    }
    .utility > a {
      font-size: 30px;
    }
    .hero > img {
      display: none;
    }
    .hero > .mobilePic {
      display: block;
    }
    .quote {
      font-size: 15px;
    }
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
    .item > h3,
    .item > span,
    .item > button {
      font-size: 20px;
    }
    .follow_contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0px;
    }
    .follow_contact h3 {
      font-size: 25px;
      font-weight: 600;
      color: #ab9373;
    }
    .follow_contact > .contact,
    .follow_contact > .follow {
      border-left: none;
      margin-top: 0;
      width: 100%;
      padding-bottom: 2%;
    }
    .follow_contact > .follow > .important_links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .follow_contact > .follow > .important_links > a {
      font-size: 20px;
    }
    .follow_contact > .contact {
      gap: 20px;
    }
    .follow_contact > .contact > p{
      font-size: 20px;
    }
  }
  