@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "SUSE";
  background-color: #f7eeee;
}
#page-1 {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  padding: 20px;
  box-shadow: 0 0 10px #00000080;
  background-color: #ffffff;
}
.hamburger {
  display: none;
  font-size: 24px;
}
.logo {
  font-size: 2.5vw;
  font-weight: 700;
  text-transform: uppercase;
}
.logo > a {
  text-decoration: none;
  color: #000000;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
}
ul > li {
  list-style: none;
}
ul > li > a {
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
}
ul > li > a:hover,
.utility > a:hover {
  color: #ab9373;
}
.utility {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.utility > a {
  text-decoration: none;
  color: #000;
  font-size: 1.7vw;
}

/* navigation complete */

.hero {
  margin: auto;
  width: 100%;
  /* height: 87vh; */
  /* background-color: #000; */
}
.hero > img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
}
.hero > .mobilePic {
  width: 100%;
  display: none;
  object-fit: cover;
  object-position: center;
}
.quote {
  width: 100%;
  margin: 5% auto 2% auto;
  font-size: 1.8vw;
  text-align-last: center;
}
.line {
  width: 20%;
  height: 2px;
  background-color: #000;
  margin: 0% auto 5% auto;
}
h1 {
  margin: 0% auto 2% auto;
  text-transform: uppercase;
  text-align: center;
}
.products {
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 3%;
}
.item {
  /* width: 30vw; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.item > img {
  /* width: 30vw; */
  /* max-height: 60vh; */
  border: 2px solid rgb(205, 202, 202);
  object-fit: cover;
  object-position: center;
}
.item > h3 {
  font-size: 1.3vw;
  margin: 4% 0;
}
.item > span {
  font-size: 1.2vw;
  font-weight: 600;
}
.item > span > strike {
  margin-left: 3%;
}
.item > button {
  padding: 1vw;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3%;
  cursor: pointer;
}
.storySection {
  width: 90vw;
  margin: 5% auto;
  background-image: url(images/Shanaya_30ml_02_1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  overflow: hidden;
}
.storySection_content {
  width: 100%;
  padding: 10%;
  background-color: #00000080;
  color: #fff;
}
.storySection_content > h1 {
  font-size: 25px;
}
.services {
  width: 100%;
  margin: 5% auto;
  padding: 2%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.servicesBoxes {
  width: 33vw;
  display: flex;
  padding: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #5d2d2d84;
}
.servicesBoxes > i {
  font-size: 5vw;
  color: #ab9373;
}
.servicesBoxes:nth-child(3) {
  border: none;
}
.servicesBoxes > span {
  margin-top: 3%;
  text-align: center;
}
.signUp {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .hamburger {
    display: block;
    font-size: 24px;
  }
  .logo {
    font-size: 35px;
  }
  ul {
    display: none;
  }
  .utility > a {
    font-size: 24px;
  }
  .hero > img{
    display: none;
  }
  .hero > .mobilePic{
    display: block;
  }
  .quote {
    font-size: 12px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .item > h3,
  .item > span {
    font-size: 14px;
  }
}
