@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "SUSE";
  background-color: #f7eeee;
}
#page-1 {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  padding: 20px;
  box-shadow: 0 0 10px #00000080;
  background-color: #ffffff;
}
nav .active{
  font-weight: 900 !important;
  color: #ab9373 !important;
}
.hamburger {
  display: none;
  font-size: 24px;
}
.logo {
  font-size: 2.5vw;
  font-weight: 700;
  text-transform: uppercase;
}
.logo > a {
  text-decoration: none;
  color: #000000;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
}
ul > li {
  list-style: none;
}
ul > li > a {
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
}
ul > li > a:hover,
.utility > a:hover {
  color: #ab9373;
}
.utility {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.utility > a {
  text-decoration: none;
  color: #000;
  font-size: 1.7vw;
}

/* navigation complete */

.hero {
  margin: auto;
  width: 100%;
  /* height: 87vh; */
  /* background-color: #000; */
}
.hero > img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
}
.hero > .mobilePic {
  width: 100%;
  display: none;
  object-fit: cover;
  object-position: center;
}
.quote {
  width: 100%;
  margin: 5% auto 2% auto;
  font-size: 1.8vw;
  text-align-last: center;
}
.line {
  width: 20%;
  height: 2px;
  background-color: #000;
  margin: 0% auto 5% auto;
}
h1 {
  margin: 2% auto 2% auto;
  text-transform: uppercase;
  text-align: center;
}
.products {
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 3%;
}
.item {
  /* width: 30vw; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.item > img {
  /* width: 30vw; */
  /* max-height: 60vh; */
  border: 2px solid rgb(205, 202, 202);
  object-fit: cover;
  object-position: center;
}
.item > h3 {
  font-size: 1.3vw;
  margin: 4% 0;
}
.item > span {
  font-size: 1.2vw;
  font-weight: 600;
}
.item > span > strike {
  margin-left: 3%;
}
.item > button {
  padding: 1vw;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3%;
  cursor: pointer;
}
.storySection {
  width: 90vw;
  margin: 5% auto;
  background-image: url(images/Shanaya_30ml_02_1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  overflow: hidden;
}
.storySection_content {
  width: 100%;
  padding: 10%;
  background-color: #00000080;
  color: #fff;
}
.storySection_content > h1 {
  font-size: 25px;
}
.services {
  width: 100%;
  margin: 5% auto;
  padding: 2%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.servicesBoxes {
  width: 33vw;
  display: flex;
  padding: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #5d2d2d84;
}
.servicesBoxes > i {
  font-size: 40px;
  color: #ab9373;
}
.servicesBoxes:nth-child(3) {
  border: none;
}
.servicesBoxes > span {
  margin-top: 3%;
  text-align: center;
}
footer {
  width: 100%;
  background-color: #000;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.signUp {
  width: 50%;
  color: #fff;
  margin: 2% auto 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.signUp > input {
  width: 80%;
  padding: 12px;
  border-radius: none;
  border: none;
  outline: none;
  font: 700 18px "SUSE";
}
.signUp ::placeholder {
  font-family: "SUSE";
  font-weight: 900;
  font-size: 15px;
}
.signUp > i {
  background-color: #ab9373;
  padding: 8px;
  font-size: 28px;
  /* margin-left: -25%; */
}
.follow_contact {
  width: 100%;
  display: flex;
  gap: 50px;
  border-top: 1px solid;
  margin-bottom: 5%;
}
.follow_contact > .follow,
.follow_contact > .contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
  gap: 50px;
}
.follow_contact h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.follow > .social_links > a {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin-left: 10px;
  border: 2px solid #ffffff;
  padding: 8px;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.follow > .social_links > a::before {
  transition: all 0.5s;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ab9373;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  visibility: hidden;
}
.follow > .social_links > a:hover::before {
  visibility: visible;
  transform: translate(-50%, -50%) scale(10);
}
.follow > .important_links > a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  text-wrap: nowrap;
  text-transform: capitalize;
  transition: all 0.35s;
}
.follow > .important_links > a:hover {
  color: #ab9373;
  text-decoration: underline;
}
.follow_contact > .contact {
  border-left: 1px solid #fff;
  padding-left: 3%;
  padding-right: 3%;
}
.contact > p {
  font-size: 18px;
}
.contact > span {
  cursor: pointer;
}
.contact > span:hover {
  text-decoration: underline;
  color: #ab9373;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright > h3 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* ---------------------------------------new arrivals----------------------------------------------------- */

.arrival {
  
}